<mat-toolbar color="primary" mat-toolbar-fixed>
    <!-- home button -->
    <button mat-icon-button>
        <mat-icon>home</mat-icon>
    </button>

    <!-- top left label -->
    <span>
        Hello, {{name}}
    </span>
    
    <!-- spacing to keep everything after this in the middle -->
    <span class="spacer"></span>
    
    <!-- middle text -->
    <h4>Employee View</h4>

    <!-- spacing to keep everything after this on right side-->
    <span class="spacer"></span>

    <!-- settings button -->
    <button mat-icon-button>
        <mat-icon>settings</mat-icon>
    </button>

    <!-- logout button -->
    <button
        mat-icon-button
        (click)="tryLogout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
